<div class="container">
  <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

  <div>
    <input type="hidden" ng-model="eventId">
    <label> Add event </label>
    <br>
    <label> Name </label>
    <input type="text" ng-model="eventName" placeholder="Name of event" />
    <br>
    <label> Date </label>
    <input type="number" ng-model="eventDate"/>
    <br>
    <label> Month </label>
    <select ng-model="eventMonth">
      <option value="0">January</option>
      <option value="1">February</option>
      <option value="2">March</option>
      <option value="3">April</option>
      <option value="4">May</option>
      <option value="5">June</option>
      <option value="6">July</option>
      <option value="7">August</option>
      <option value="8">September</option>
      <option value="9">October</option>
      <option value="10">November</option>
      <option value="11">Decembber</option>
    </select>
    <br>
    <label> Year </label>
    <input type="number" ng-model="eventYear"/>
    <br>
    <button ng-click = "submitEvent()"> Add event </button>
  </div>
</div>
